---
apiVersion: v1
kind: Secret
metadata:
{%   if item.key == "sas-casserver-primary" %}
  name: {{ settings.project_name }}-cas
{%   else %}
  name: {{ settings.project_name }}-{{ item.key }}
{%   endif %}
type: Opaque
data:
{% if custom_services is defined and custom_services %}
  # Writing out user defined secrets
{%   for key,value in custom_services.items() %}
{%     if key == item.key and value.deployment_overrides.secrets is defined and value.deployment_overrides.secrets %}
{%       for override in value.deployment_overrides.secrets %}
{%         set secret_key = override.split('=')[0] + '=' %}
{%         if '_ENC=' in override %}
  {{ override.split('=')[0] | lower }}: {{ override | replace( secret_key, '', 1) }}
{%         else %}
  {{ override.split('=')[0] | lower }}: {{ override | replace( secret_key, '', 1) | b64encode }}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
{% if item.value.secrets is defined and item.value.secrets %}
  # Writing out pre-defined secrets
{%   if custom_services is defined and custom_services %}
{%     set vars = {'found': False} %}
{%     for secrets in item.value.secrets %}
{%       if vars.update({'found': False}) %} {% endif %}
{%       if item.key in custom_services %}
{%         for key,value in custom_services.items() %}
{%           if key == item.key and value.deployment_overrides.secrets is defined and value.deployment_overrides.environment %}
{%             set cm_key = secrets.split('=')[0] + '=' %}
{%             for override in value.deployment_overrides.secrets %}
{%               if cm_key in override %}
{%                 if vars.update({'found': True}) %} {% endif %}
{%               else %}
{%               endif %}
{%             endfor %}
{%             if not vars.found %}
{%               set secret_key = secrets.split('=')[0] + '=' %}
{%               if '_ENC=' in secrets %}
  {{ secrets.split('=')[0] | lower }}: {{ secrets | replace( secret_key, '', 1) }}
{%               else %}
  {{ secrets.split('=')[0] | lower }}: {{ secrets | replace( secret_key, '', 1) | b64encode }}
{%               endif %}
{%             endif %}
{%           endif %}
{%         endfor %}
{%       else %}
{%         set secret_key = secrets.split('=')[0] + '=' %}
{%         if '_ENC=' in secrets %}
  {{ secrets.split('=')[0] | lower }}: {{ secrets | replace( secret_key, '', 1) }}
{%         else %}
  {{ secrets.split('=')[0] | lower }}: {{ secrets | replace( secret_key, '', 1) | b64encode }}
{%         endif %}
{%       endif %}
{%     endfor %}
{%   else %}
{%     for secrets in item.value.secrets %}
{%       set secret_key = secrets.split('=')[0] + '=' %}
{%       if '_ENC=' in secrets %}
  {{ secrets.split('=')[0] | lower }}: {{ secrets | replace( secret_key, '', 1) }}
{%       else %}
  {{ secrets.split('=')[0] | lower }}: {{ secrets | replace( secret_key, '', 1) | b64encode }}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
...