version: "3"
networks:
  default:
services:

{% for key,value in services.iteritems() %}
    {{ key }}:
        image: {{ settings.project_name }}-{{ key | lower }}
        hostname: {{ settings.project_name }}-{{ key | lower }}.local
        container_name: {{ settings.project_name }}-{{ key | lower }}.local
{%   if key != 'consul' %}
        depends_on:
          - consul
{%   endif %}
{%   if value.ports is defined and value.ports %}
        ports:
{%     for ports in value.ports %}
        - "{{ ports }}"
{%     endfor %}
{%   endif %}
        entrypoint: ["/opt/sas/viya/home/bin/{{ key }}-entrypoint.sh"]
        environment:
{%   if key != 'consul' %}
            - CONSUL_SERVER_LIST={{ settings.project_name }}-consul.local
            - CONSUL_DATACENTER_NAME={{ DEPLOYMENT_LABEL }}
            - DISABLE_CONSUL_AGENT=True
{%     for secrets in services.consul.deployment_overrides.secrets %}
            - {{ secrets }}
{%     endfor %}
{%     if SECURE_CONSUL %}
            - CONSUL_HTTP_ADDR=http://localhost:8501
            - CONSUL_PORT_8500_TCP_PORT=8501
{%     else %}
            - CONSUL_HTTP_ADDR=http://localhost:8500
            - CONSUL_PORT_8500_TCP_PORT=8500
{%     endif %}
            - CONSUL_PORT_8500_TCP_ADDR={{ settings.project_name }}-consul.local
{%   endif %}
{%   if value.deployment_overrides.environment is defined and value.deployment_overrides.environment %}
{%     for environment in value.deployment_overrides.environment %}
            - {{ environment }}
{%     endfor %}
{%   endif %}
{%   if value.deployment_overrides.secrets is defined and value.deployment_overrides.secrets %}
{%     for secrets in value.deployment_overrides.secrets %}
            - {{ secrets }}
{%     endfor %}
{%   endif %}
{%   if value.deployment_overrides.volumes is defined and value.deployment_overrides.volumes %}
        volumes:
{%     for volumes in value.deployment_overrides.volumes %}
          - {{ settings.project_name }}-{{ key }}-{{ volumes.split('=')[0] }}:{{ volumes.split('=')[1] }}
{%     endfor %}
{%   endif %}

{% endfor %}

volumes:

{% for key,value in services.iteritems() -%}
{%   if value.deployment_overrides.volumes is defined and value.deployment_overrides.volumes %}
{%     for volumes in value.deployment_overrides.volumes %}
  {{ settings.project_name }}-{{ key }}-{{ volumes.split('=')[0] }}:
{%     endfor %}
{%   endif %}
{% endfor %}
