{% if item.value.deployment_overrides.secrets is defined %}
apiVersion: v1
kind: Secret
metadata:
{%   if item.key == "sas-casserver-primary" %}
  name: {{ settings.project_name }}-cas
{%   else %}
  name: {{ settings.project_name }}-{{ item.key }}
{%   endif %}
type: Opaque
data:
{%   for secrets in item.value.deployment_overrides.secrets %}
{%     set secret_key = secrets.split('=')[0] + '=' %}
{%     if '_ENC=' in secrets %}
  {{ secrets.split('=')[0] | lower }}: {{ secrets | replace( secret_key, '', 1) }}
{%     else %}
  {{ secrets.split('=')[0] | lower }}: {{ secrets | replace( secret_key, '', 1) | b64encode }}
{%     endif %}
{%   endfor %}
{% endif %}