---
# tasks file for cloud-config

- name: Copy cloud config files to remote host
  copy:
    src: "{{ item.name }}"
    dest: "/opt/sas/viya/home/{{ item.path }}/{{ item.name }}"
    owner: "{{ INSTALL_USER }}"
    group: "{{ INSTALL_GROUP }}"
    mode: "{{ item.mode }}"
  with_items:
  - { name: docker-functions, path: "lib/envesntl", mode: "0755" }

- name: Define fact that contains the list of images that need to run as root
  debug:
    var: container_name

- name: modify sas-init-functions
  lineinfile:
    path: "{{ SASHOME }}/lib/envesntl/sas-init-functions"
    regexp: '\$RU \$uid -c "\$\*"'
    line: '  $*'
  when: container_name != "sas-casserver-primary" and container_name != "httpproxy" and container_name != "computeserver"

- name: list all sas init files
  find:
    paths: /etc/init.d
    patterns: "sas-*"
  register: init_files

- name: update all init files
  lineinfile:
    path: "{{ item.path }}"
    regexp: '^SASLOCKROOT="/var/lock/subsys"'
    line: 'SASLOCKROOT="/opt/sas/{{ DEPLOYMENT_ID }}/config/var/lock"'
  with_items: "{{ init_files.files }}"


