backports.ssl-match-hostname==3.5.0.1
certifi==2018.8.13
chardet==3.0.4
colorama==0.3.9
dictdiffer==0.7.1
docker==2.7.0
docker-pycreds==0.3.0
httplib2==0.11.3
idna==2.7
ipaddress==1.0.22
Jinja2==2.10
kubernetes==1.0.2
MarkupSafe==1.0
oauth2client==4.1.2
openshift==0.0.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
python-dateutil==2.7.3
python-string-utils==0.6.0
PyYAML==3.13
requests==2.19.1
rsa==3.4.2
ruamel.yaml==0.15.51
six==1.11.0
structlog==18.1.0
urllib3==1.23
websocket-client==0.51.0
