CLUSTER_DEFINITIONS:
  cas:
{% if casenv_instance is defined %}
    {{ casenv_instance | default('default') }}:
{% else %}
    default:
{% endif %}
{% if ansible_env.ANSIBLE_CONTAINER is defined %}
      primary_host: localhost
{% elif groups['sas-casserver-primary'] is defined and groups['sas-casserver-primary'] | length > 0 %}
      primary_host: "{{ groups['sas-casserver-primary'][0] }}"
{% else %}
      primary_host:
{% endif %}
{% if groups['sas-casserver-secondary'] is defined and groups['sas-casserver-secondary'] | length > 0 %}
      secondary_host: "{{ groups['sas-casserver-secondary'][0] }}"
{% else %}
      secondary_host:
{% endif %}
{% if groups['sas-casserver-worker'] is defined and groups['sas-casserver-worker'] | length > 0 %}
      worker_hosts: "{% for host in groups['sas-casserver-worker'] %}{{ host }},{% endfor %}"
{% else %}
      worker_hosts:
{% endif %}
{% if casenv_tenant is defined %}
      tenant: {{ casenv_tenant | default('shared') }}
{% else %}
      tenant: shared
{% endif %}
{% if casenv_user is defined %}
      casenv_user: {{ casenv_user | default('sas') }}
{% else %}
      casenv_user: sas
{% endif %}
{% if casenv_group is defined %}
      casenv_group: {{ casenv_group | default('sas') }}
{% else %}
      casenv_group: sas
{% endif %}
{% if caskey is defined and caskey %}
      caskey: {{ caskey }}
{% endif %}
{% if CAS_CONFIGURATION is defined %}
{%   if CAS_CONFIGURATION.cfg is defined and CAS_CONFIGURATION.cfg %}
      cas:
{%     for key, value in CAS_CONFIGURATION.cfg.items() %}
        {{ key }}: {{ value | string | quote }}
{%     endfor %}
{%   endif %}
{%   if CAS_CONFIGURATION.env is defined and CAS_CONFIGURATION.env %}
      env:
{%     if casenv_admin_user is defined and casenv_admin_user %}
        ADMIN_USER: {{ casenv_admin_user }}
{%     endif %}
{%     for key, value in CAS_CONFIGURATION.env.items() %}
        {{ key }}: {{ value | string | quote }}
{%     endfor %}
{%   else %}
{%     if casenv_admin_user is defined and casenv_admin_user %}
      env:
        ADMIN_USER: {{ casenv_admin_user }}
{%     endif %}
{%   endif %}
{%   if CAS_SETTINGS is defined and CAS_SETTINGS | length > 0 %}
      settings:
{%     for key, value in CAS_SETTINGS.items() %}
{%       set list1 = value.split('=') %}
{%       if value[0:1] != '#' and value[0:15] != 'LD_LIBRARY_PATH' %}
        {{ '%03d' | format(key | int) }}_{{ list1[0] }}: {{ list1[1] | string | quote }}
{%       else %}
{%         if value[0:15] == 'LD_LIBRARY_PATH' %}
        {{ '%03d' | format(key | int) }}_LD_LIBRARY_PATH: {{ list1[1] | string | quote }}
{%         endif %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
