---
apiVersion: v1
kind: Service
metadata:
  name: {{ settings.project_name }}-esp-metered-billing

spec:
  selector:
    app: {{ settings.project_name }}-esp-metered-billing
  ports:
    - name: "31001"
      protocol: TCP
      port: 31001
      targetPort: 31001
  sessionAffinity: None
  clusterIP: None
