---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ settings.project_name }}-account
{% if settings.k8s_namespace is defined and settings.k8s_namespace.name %}
  namespace: {{ settings.k8s_namespace.name }}
{% endif %}
...

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ settings.project_name }}-account-role
{% if settings.k8s_namespace is defined and settings.k8s_namespace.name %}
  namespace: {{ settings.k8s_namespace.name }}
{% endif %}
rules:
- apiGroups: ["*"]
  resources: ["*"]
  verbs: ["*"]
...

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ settings.project_name }}-account-role-binding
{% if settings.k8s_namespace is defined and settings.k8s_namespace.name %}
  namespace: {{ settings.k8s_namespace.name }}
{% endif %}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ settings.project_name }}-account-role
subjects:
- kind: ServiceAccount
{% if settings.k8s_namespace is defined and settings.k8s_namespace.name %}
  namespace: {{ settings.k8s_namespace.name }}
{% endif %}
  name: {{ settings.project_name }}-account
...
