---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ settings.project_name }}-account
  namespace: {{ SAS_K8S_NAMESPACE }}
...

---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ settings.project_name }}-account-role
  namespace: {{ SAS_K8S_NAMESPACE }}
rules:
- apiGroups: ["*"]
  resources: ["configmaps"]
  verbs: ["*"]
...

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ settings.project_name }}-account-role-binding
  namespace: {{ SAS_K8S_NAMESPACE }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ settings.project_name }}-account-role
subjects:
- kind: ServiceAccount
  namespace: {{ SAS_K8S_NAMESPACE }}
  name: {{ settings.project_name }}-account
...
