---
{% if item.value.deployment_overrides.environment is defined %}
apiVersion: v1
kind: ConfigMap
metadata:
{%   if item.key == "sas-casserver-primary" %}
  name: {{ settings.project_name }}-cas
{%   else %}
  name: {{ settings.project_name }}-{{ item.key }}
{%   endif %}
data:
{%   for environment in item.value.deployment_overrides.environment %}
{% if 'DISABLE_CONSUL_HTTP_PORT' in environment and SECURE_CONSUL != true %}
  {{ environment.split('=')[0] | lower }}: "false"
{% else %}
{%     set cm_key = environment.split('=')[0] + '=' %}
  {{ environment.split('=')[0] | lower }}: "{{ environment | replace( cm_key, '', 1) }}"
{% endif %}
{%   endfor %}
{% if "consul" in item.key and SECURE_CONSUL == true %}
  vault_token_dir: "/tokens"
  sas_anchors_dir: "/anchors"
  consul_http_addr: "https://localhost:8501"
{% elif "consul" in item.key and SECURE_CONSUL != true %}
  vault_token_dir: ""
  sas_anchors_dir: ""
  consul_http_addr: "http://localhost:8500"
{% endif %}
{% endif %}
{% if "consul" in item.key %}
---
{% if item.value.deployment_overrides.environment is defined %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: consul-tokens-configmap
data:
{% endif %}
---
{% if item.value.deployment_overrides.environment is defined %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ settings.project_name }}-cacerts-configmap
data:
{% endif %}
---
{% if item.value.deployment_overrides.environment is defined %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: sasservices-configmap
data:
{% endif %}
{% endif %}
...
