apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
  name: {{ settings.project_name }}-visuals-ingress
  namespace: {{ sas_k8s_namespace }}
spec:
  rules:
  - host: {{ sas_k8s_ingress_path }}
    http:
      paths:
      - backend:
          serviceName: {{ settings.project_name }}-httpproxy
          servicePort: 80
#  tls:
#  - hosts:
#    - {{ sas_k8s_ingress_path }}
#    secretName: @REPLACE_ME_WITH_YOUR_CERT@

