---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
{% if item.key == "sas-casserver-primary" %}
  name: {{ settings.project_name }}-cas
{% else %}
  name: {{ settings.project_name }}-{{ item.key }}
{% endif %}
spec:
{% if item.key == "sas-casserver-primary" %}
  serviceName: "{{ settings.project_name }}-cas"
{% else %}
  serviceName: "{{ settings.project_name }}-{{ item.key }}"
{% endif %}
  replicas: 1
  template:
    metadata:
      labels:
{% if item.key == "sas-casserver-primary" %}
        app: {{ settings.project_name }}-cas
{% else %}
        app: {{ settings.project_name }}-{{ item.key }}
{% endif %}
        domain: {{ settings.project_name }}
    spec:
{% if SECURE_CONSUL %}
      serviceAccountName: {{ settings.project_name }}-account
{% else %}
      # Required for TLS configurations
      #serviceAccountName: {{ settings.project_name }}-account
{% endif %}
{% if item.key == "sas-casserver-primary" %}
      hostname: {{ settings.project_name }}-cas
{% else %}
      hostname: {{ settings.project_name }}-{{ item.key }}
{% endif %}
      subdomain: {{ settings.project_name }}-subdomain
      containers:
{% if item.key == "sas-casserver-primary" %}
      - name: {{ settings.project_name }}-cas
{% else %}
      - name: {{ settings.project_name }}-{{ item.key }}
{% endif %}
{% for regkey,regvalue in registries.items() %}
        image: {{ regvalue.url }}/{{ regvalue.namespace }}/{{ settings.project_name }}-{{ item.key }}:{{ docker_tag | default('latest') }}
{% endfor %}
        imagePullPolicy: Always
{% if item.value.ports is defined and item.value.ports %}
        ports:
{%   for ports in item.value.ports %}
        - containerPort: {{ ports.split(':')[0] }}
{%   endfor %}
{% endif %}
        env:
        - name: APP_NAME
          value: "{{ item.key | lower }}"
        - name: DEPLOYMENT_NAME
          value: "{{ settings.project_name }}"
{% if services.consul is defined %}
        - name: CONSUL_SERVER_LIST
          value: "{{ settings.project_name }}-consul"
        - name: CACERTS_CONFIGMAP
          value: "{{ settings.project_name }}-cacerts-configmap"
        - name: DISABLE_CONSUL_HTTP_PORT
          valueFrom:
            configMapKeyRef:
              name: {{ settings.project_name }}-consul
              key: disable_consul_http_port
        - name: SECURE_CONSUL
          valueFrom:
            configMapKeyRef:
              name: {{ settings.project_name }}-consul
              key: secure_consul
        - name: SAS_ANCHORS_DIR
          valueFrom:
              configMapKeyRef:
                name: {{ settings.project_name }}-consul
                key: sas_anchors_dir
        - name: VAULT_TOKEN_DIR
          valueFrom:
              configMapKeyRef:
                name: {{ settings.project_name }}-consul
                key: vault_token_dir
{% endif %}
{% if item.key == "sas-casserver-primary" %}
        - name: SERVICE_NAME
          value: "cascontroller"
{% endif %}
{% if item.key == "sas-casserver-primary" %}
        - name: CASCFG_MODE
          valueFrom:
            configMapKeyRef:
              name: {{ settings.project_name }}-cas
              key: cascfg_mode
{% endif %}
{% if services.consul is defined %}
{%   for environment in services.consul.deployment_overrides.environment %}
{%     if environment.split('=')[0] == 'CONSUL_DATACENTER_NAME' %}
        - name: {{ environment.split('=')[0] }}
          valueFrom:
            configMapKeyRef:
              name: {{ settings.project_name }}-consul
              key: {{ environment.split('=')[0] | lower }}
{%     endif %}
{%   endfor %}
{% endif %}
{% if item.value.deployment_overrides.environment is defined and item.value.deployment_overrides.environment %}
{%   for environment in item.value.deployment_overrides.environment %}
        - name: {{ environment.split('=')[0] }}
          valueFrom:
            configMapKeyRef:
{%     if item.key == "sas-casserver-primary" %}
              name: {{ settings.project_name }}-cas
{%     else %}
              name: {{ settings.project_name }}-{{ item.key }}
{%     endif %}
              key: {{ environment.split('=')[0] | lower }}
{%   endfor %}
{% endif %}
{% if services.consul is defined %}
{%   for secrets in services.consul.deployment_overrides.secrets %}
{%     if secrets.split('=')[0] != 'CONSUL_TOKENS_MANAGEMENT' %}
        - name: {{ secrets.split('=')[0] }}
          valueFrom:
            secretKeyRef:
              name: {{ settings.project_name }}-consul
              key: {{ secrets.split('=')[0] | lower }}
{%     endif %}
{%   endfor %}
{% endif %}
{% if item.value.deployment_overrides.secrets is defined and item.value.deployment_overrides.secrets %}
{%   for secrets in item.value.deployment_overrides.secrets %}
{%     if secrets.split('=')[0] == 'SETINIT_TEXT_ENC' %}
        - name: SETINIT_TEXT
{%     else      %}
        - name: {{ secrets.split('=')[0] }}
{%     endif     %}
          valueFrom:
            secretKeyRef:
{%     if item.key == "sas-casserver-primary" %}
              name: {{ settings.project_name }}-cas
{%     else %}
              name: {{ settings.project_name }}-{{ item.key | lower }}
{%     endif %}
              key: {{ secrets.split('=')[0] | lower }}
{%   endfor %}
{% endif %}
{% if item.value.deployment_overrides.resources is defined and item.value.deployment_overrides.resources %}
        resources:
{%   for key,value in item.value.deployment_overrides.resources.items() %}
          {{ key }}:
{%     for items in value %}
            {{ items.split('=')[0] }}: {{ items.split('=')[1] }}
{%     endfor %}
{%   endfor %}
{% endif %}
{% if item.value.deployment_overrides.volumes is defined and item.value.deployment_overrides.volumes %}
        volumeMounts:
{%   for volumes in item.value.deployment_overrides.volumes %}
{%     if item.key == "sas-casserver-primary" %}
        - name: {{ settings.project_name }}-cas-{{ volumes.split('=')[0] }}-volume
{%     else %}
        - name: {{ settings.project_name }}-{{ item.key }}-{{ volumes.split('=')[0] }}-volume
{%     endif %}
          mountPath: {{ volumes.split('=')[1] }}
{%   endfor %}
{% endif %}
{% if custom_volume_mounts is defined and custom_volume_mounts %}
{%   for mount_key,mount_value in custom_volume_mounts.items() %}
{%     if mount_key == item.key %}
        {{ mount_value | indent(8) }}
{%     endif %}
{%   endfor %}
{% endif %}
        - name: anchors
          mountPath: /anchors
        - name: tokens
          mountPath: /tokens

      volumes:
{% if item.value.deployment_overrides.volumes is defined and item.value.deployment_overrides.volumes %}
{%   for volumes in item.value.deployment_overrides.volumes %}
{%     if item.key == "sas-casserver-primary" %}
      - name: {{ settings.project_name }}-cas-{{ volumes.split('=')[0] }}-volume
{%     else %}
      - name: {{ settings.project_name }}-{{ item.key }}-{{ volumes.split('=')[0] }}-volume
{%     endif %}
        emptyDir: {}
{%   endfor %}
{% endif %}
{% if custom_volumes is defined and custom_volumes %}
{%   for vol_key,vol_value in custom_volumes.items() %}
{%     if vol_key == item.key %}
      {{ vol_value | indent(6) }}
{%-    endif %}
{%   endfor %}
{% endif %}
      - name: tokens
        configMap:
          name: consul-tokens-configmap
      - name: anchors
        configMap:
          name: {{ settings.project_name }}-cacerts-configmap
...
